html {
  margin: 0;
  padding: 0;
}

.pink {
  background-color: #c81e6e;
}

.maroon {
  background-color: #86005f;
}

.lgt-blue {
  background-color: #00a1ca;
}

.drk-blue {
  background-color: #005da1;
}

body {
  background-color: #e4ecef;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
}

h1 {
  color: #494c4f;
}

p {
  color: #494c4f;
}

details {
  border: 1px solid #fff;
  background-color: #fff;
}

summary {
  /* font-weight: bold; */
  padding: 0.5em;
  color: #fff;
}

details[open] .details-content {
  padding: 0.5em 1em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
}

details:hover {
  cursor: pointer;
}

summary::-webkit-details-marker {
  padding-top: 10px;
  float: right;
  transform: rotate(90deg);
}

details[open] > summary::-webkit-details-marker {
  transform: rotate(180deg);
  padding-left: 5px;
  padding-bottom: 3px;
}
